<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all authors</title>
    <link type="text/css" rel="stylesheet" th:href="@{css/style.css}" href="../../static/css/style.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
</head>
<body>
<h1>Authors:</h1>

<table class="items">
    <thead>
    <tr>
        <th>ID</th>
        <th>Full Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">

        <td th:text="${author.id}">1</td>
        <td th:text="${author.fullName}">John Doe</td>
        <td>
            <a th:href="@{/author(id=${author.id})}" href="author.html">Detail</a>
        </td>
    </tr>
    </tbody>
</table>

<div class="row">
    <a class="btn btn-default" th:href="@{/info}" href="../info.html">Home</a>
</div>

</body>
</html>

