<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all authors</title>
    <link type="text/css" rel="stylesheet" href="css/style.css" th:href="@{css/style.css}" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<h1>Authors:</h1>

<table class="authors">
    <thead>
    <tr>
        <th>ID</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">

        <td th:text="${author.id}">1</td>
        <td th:text="${author.lastName}">Doe</td>
        <td>
            <a th:href="@{/author(id=${author.id})}" href="author.html">Detail</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>

