<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <link type="text/css" rel="stylesheet" th:href="@{css/style.css}" href="../../static/css/style.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css"/>
</head>
<body>
<h1>Books:</h1>

<table class="items">
    <thead>
    <tr>
        <th>ID</th>
        <th>Book Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">

        <td th:text="${book.id}">1</td>
        <td th:text="${book.bookName}">Doe</td>
        <td>
            <a th:href="@{/book(id=${book.id})}" href="book.html">Detail</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>

