<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book edit</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css"/>
</head>
<body>
<h1>Book edit:</h1>

<form id="edit-form" th:action="@{/book/edit}" th:object="${book}" th:method="post" action="book.html">
    <div class="row">
        <label for="id">ID:</label>
        <input id="id" name="id" type="text" readonly="readonly" th:field="*{id}" value="1"/>
    </div>

    <div class="row">
        <label for="bookName">Book name:</label>
        <input id="bookName" name="bookName" type="text" th:field="*{bookName}" value="Best"/>
    </div>

    <div class="row">
        <label for="publishDate">Publish Date:</label>
        <input id="publishDate" name="publishDate" type="date" th:field="*{publishDate}" value="2013-01-08"/>
    </div>

    <div class="row">
        <label for="language">Language:</label>
        <input id="language" name="language" type="text" th:field="*{language}" value="Russian"/>
    </div>

    <div class="row">
        <label for="publishingHouse">Publishing House:</label>
        <input id="publishingHouse" name="publishingHouse" type="text" th:field="*{publishingHouse}" value="Mir"/>
    </div>

    <div class="row">
        <label for="city">City:</label>
        <input id="city" name="city" type="text" th:field="*{city}" value="Moscow"/>
    </div>

    <div class="row">
        <label for="isbn">Isbn:</label>
        <input id="isbn" name="isbn" type="text" th:field="*{isbn}" value="333-555"/>
    </div>

    <div class="row">
        <label for="holder-a-input">Author:</label>
        <select id="holder-a-input" name="author" th:field="*{author.id}">
            <option th:value="*{author.fullName}">author</option>
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.fullName}"/>
        </select>
    </div>

    <div class="row">
        <label for="holder-g-input">Genre:</label>
        <select id="holder-g-input" name="genre" th:field="*{genre.id}">
            <option th:value="*{genre.genreName}">genre</option>
            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.genreName}"/>
        </select>
    </div>

    <div class="row">
        <button class="btn btn-default" type="submit">Save</button>
    </div>
</form>

</body>
</html>