body {
    padding: 50px;
}
.items, .items td {
    border: 1px solid lightgray;
    padding: 5px;
}

label {
    display: inline-block;
    width: 100px;
}

input:read-only {
    background: lightgray;
}
.row {
    margin-top: 10px;
}

.form-inline {
  display: inline;
}

div.block input[type="text"] {
  display: block;
}

.gap-30 {
    width:100%;
    height:30px;
}

input:invalid {
    box-shadow: none;
}

td.gray {
    color:#D0D0D0
}

.button-cosmo {
    background-color: rgba(0, 0, 0, 0) !important;
    color: rgba(0,0,0,0.5) !important;
    text-decoration: none !important;
}

.button-cosmo:focus,
.button-cosmo:hover {
    color: rgba(0,0,0,0.9) !important;
}