<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <link type="text/css" rel="stylesheet" th:href="@{css/style.css}" href="../static/css/style.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
</head>
<body>
<h1>Info:</h1>

<table class="items">
    <thead>
    <tr>
        <th>#</th>
        <th>what</th>
        <th>count</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="1">1</td>
        <td th:text="Authors">Authors</td>
        <td th:text="${authors}">2</td>
        <td>
            <a th:href="@{/authors}" href="author/authors.html">Link</a>
        </td>
    </tr>
    <tr>
        <td th:text="2">2</td>
        <td th:text="Genres">Genres</td>
        <td th:text="${genres}">2</td>
        <td>
            <a th:href="@{/genres}" href="genre/genres.html">Link</a>
        </td>
    </tr>
    <tr>
        <td th:text="3">3</td>
        <td th:text="Books">Books</td>
        <td th:text="${books}">2</td>
        <td>
            <a th:href="@{/books}" href="book/books.html">Link</a>
        </td>
    </tr>
    <tr>
        <td th:text="4">4</td>
        <td th:text="Comments">Comments</td>
        <td th:text="${comments}">4</td>
        <td>
            <a th:href="@{/comments}" href="comment/comments.html">Link</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>