<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all comments</title>
    <link type="text/css" rel="stylesheet" th:href="@{css/style.css}" href="../../static/css/style.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css"/>
</head>
<body>
<h1>Comments:</h1>

<table class="items">
    <thead>
    <tr>
        <th>ID</th>
        <th>Author</th>
        <th>Book name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment : ${comments}">

        <td th:text="${comment.id}">1</td>
        <td th:text="${comment.author}">Doe</td>
        <td th:text="${comment.book.bookName}">Best</td>
        <td>
            <a th:href="@{/comment(id=${comment.id})}" href="comment.html">Detail</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>

