<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add comment</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css"/>
</head>
<body>
<h1>Add comment:</h1>

<form id="edit-form" th:action="@{/comment/add}" th:object="${comment}" th:method="post" action="comments.html">
    <div class="row" th:if="*{id != null}">
        <label for="id">ID:</label>
        <input id="id" type="text" readonly="readonly" th:field="*{id}" value="1"/>
    </div>

    <div class="row">
        <label for="author">Author:</label>
        <input id="author" name="author" type="text" th:field="*{author}" value="Me"/>
    </div>

    <div class="row">
        <label for="content">Content:</label>
        <input id="content" name="content" type="text" th:field="*{content}" value="Doe"/>
    </div>

    <div class="row">
        <label for="holder-b-input">Book:</label>
        <select id="holder-b-input" name="book" th:field="*{book.id}">
            <option th:value="*{book.bookName}">---</option>
            <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.bookName}"/>
        </select>
    </div>

    <div class="row">
        <button class="btn btn-default" type="submit">Save</button>
        <a class="btn btn-default" th:href="@{/comments}" href="comment.html">Cancel</a>
    </div>
</form>

</body>
</html>